<!DOCTYPE html>
<html>
<head>
	<title>Stock Advicer</title>
</head>
<body>
	<table border="2">
		<tr>
			<td id="op_cmpy"><%= @inp_cmpy_name %></td>
			<td id="op_cmpy_prc"><%= @CurrPrc %></td>
		</tr>
	</table>
</body>
</html>